<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Framework Guru</title>
    </head>
    <body>
        <h1>Author list</h1>

        <table>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            <tr th:each="author : ${authors}">
                <td th:text="${author.id}"></td>
                <td th:text="${author.firstName}"></td>
                <td th:text="${author.lastName}"></td>
            </tr>

        </table>
    </body>
</html>
